# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-functions
*.local
.env
.env.local
.netlify
pnpm-lock.yaml 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ESLint cache
.eslintcache

# If you also enable Prettier cache
.prettiercache


# Other common cache files you might want to ignore
*.tsbuildinfo
.turbo
.next
.cache
build/
coverage/

# Local Netlify folder
.netlify
